<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <include resource="org/springframework/boot/logging/logback/defaults.xml" />
    <springProfile name="default, cloud">
        <appender name="CONSOLE-STD-OUT" class="ch.qos.logback.core.ConsoleAppender">
            <encoder>
                <pattern>${CONSOLE_LOG_PATTERN}</pattern>
            </encoder>
        </appender>
        <appender name="CONSOLE-STD-ERR" class="ch.qos.logback.core.ConsoleAppender">
            <target>System.err</target>
            <encoder>
                <pattern>${CONSOLE_LOG_PATTERN}</pattern>
            </encoder>
            <!-- deny all events with a level below INFO, that is TRACE and 
                DEBUG -->
            <filter class="ch.qos.logback.classic.filter.ThresholdFilter">
                <level>ERROR</level>
            </filter>
        </appender>
        <appender name="ASYNC" class="ch.qos.logback.classic.AsyncAppender">
            <appender-ref ref="CONSOLE-STD-OUT" />
            <appender-ref ref="CONSOLE-STD-ERR" />
        </appender>
        <root level="INFO">
            <appender-ref ref="ASYNC" />
        </root>
        <logger name="org.apache.http.wire" level="DEBUG"/>
    </springProfile>

    <springProfile name="local">
        <property name="LOG_FILE"
            value="${LOG_FILE:-${LOG_PATH:-${LOG_TEMP:-${java.io.tmpdir:-/tmp}}}/${spring.application.name}.log}" />
        <include
            resource="org/springframework/boot/logging/logback/console-appender.xml" />
        <include
            resource="org/springframework/boot/logging/logback/file-appender.xml" />
        <root level="INFO">
            <appender-ref ref="CONSOLE" />
            <appender-ref ref="FILE" />
        </root>
        <logger name="org.springframework.transaction" level="DEBUG"/>
        <logger name="org.springframework.orm.jpa" level="DEBUG"/>
        <logger name="org.hibernate.type.descriptor.sql.BasicBinder" level="TRACE"/>
        <logger name="org.hibernate.SQL" level="DEBUG"/>
        <logger name="org.apache.http.wire" level="DEBUG"/>
    </springProfile>
</configuration>